a{
    text-align: center;
    text-decoration: none;
}

a:hover{
    text-align: center;
    text-decoration: none;
}

body{
    text-align: center;
     background-color: beige;
     color:black;


}


footer{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1{
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

h2{
    text-align: center;
    color:#075AAB;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

h3{
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 2rem;

}

h4{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

h5{
    text-align: center;
    margin-top: 0.5rem;
}


hr{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

ul{
    text-align: center;
    display: table;
    margin: 0 auto;
    text-align: left;
}